:root {
    --color-neutral-light: #F1EDE8;
    --color-neutral-medium: #7C7A79;
    --color-neutral-dark: #373435;

    --color-main-light: #9FC0F5;
    --color-main-medium: #40a3c4;
    --color-main-dark: #1C6AE4;

    --color-white: #fff;
    --color-grey: #7C7A79;
    --color-title: #7E7E7E;
    --color-dark: #000;
    --color-blue: #1C6AE4;

    --color-background: #f1ede8;

    --header-height: 3rem;
    --footer-height: 4rem;
}

/* Font */

@font-face {
    font-family: 'Al Tarikh';
    src: url('font/Al Tarikh.ttc') format('truetype');
    font-weight: normal;
}

.grey-text {
   color: var(--color-grey);
}

.blue-text {
   color: var(--color-blue);
}

.subscript {
   font-family: 'Assistant';  
   font-weight: normal;
}
.subscript-bold {
   font-family: 'Assistant', sans-serif; 
   font-weight: bold; 
}

h3 {
   font-size: 18px;
   font-weight: normal;
   line-height: 19.53px;
   color:  var(--color-title);
}

h5 {
   font-size: 14px;
   font-weight: normal;
   line-height: 15.19px;
}

span {
   font-size: 12px;
   font-weight: normal;
   line-height: 13px;  
}


* {
    box-sizing: border-box;
}

body {
   font-family: 'Assistant', sans-serif;
}

section {
   background-color: var(--color-background);
}


/* CORE ELEMENTS */
a {
   color: inherit;
   text-decoration: none;
   font-weight: bold;
}




/* LAYOUT CLASSES */
.hidden { display:none; }

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }



/* PAGE ELEMENTS */
.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
}

[data-role="main"] {
   flex: 1 1 100%;
   width: 86%;
   margin: auto;
}
[data-role="header"],
[data-role="footer"] {
   flex: none;
   height: var(--footer-height);
   line-height: var(--footer-height);
   border-width: 0;
   border-radius: 20px 20px 0 0;
   background-color: var(--color-background);
   box-shadow: 5px -5px 8px 10px rgba(170,170,169,0.2);
   position: relative;
   overflow: hidden;
   z-index: 1;
}


[data-role="header"] ul,
[data-role="footer"] ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   height: 100%;
}
[data-role="footer"] li {
   flex: 1 1 auto;
   text-align: center;
}
[data-role="header"] a,
[data-role="footer"] a {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
[data-role="header"] a {
   padding: 0 1em;
}

.ui-header .ui-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   margin: 10px;
   font-size: 1rem;
   padding: 0;
}



/* FORM ELEMENTS */
.form-control {
   margin: 1em 0;
}
.form-input {
    width: 100%;
    height: 48px;  
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 1em;
    outline: 0;
    font: 20px;
}


.form .form-button,
.form-button {
    width: 100%;
    height: auto;
    display: inline-block;
    border-width: 0;
    color: inherit;
    background-color: var(--color-blue);
    opacity: 1;
    color: white;
    font-size: 18px;
    text-indent: 0;
    margin: 0;
    padding: 0.5em 1em;
    border: 1px solid var(--color-neutral-medium);
    border-radius: 1em;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
}


}
.form-label {
   text-align: left !important;
   font-weight: bold;
   color: var(--color-grey);
}


.home-icon {
   width: 36px;
   height: 36px;
}
.profile-icon {
   width: 36px;
   height: 36px;
}

/* SignIn */
.welcome {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-top: 178px;
}
.welcome .logo {
   height: 140px;
   width: 140px;
}

.welcome h3 {
   margin-top: 60px;
   color: var(--color-blue);
   font-size: large;
   line-height: 1.2em;
   letter-spacing: 0.1em;
   font-weight: 500;
}

.signin-form {
   display: flex;
   flex-direction: column;
}

/* Map */
#page-recent .top-bar {
   padding: 20px 20px;
   display: flex;
   justify-content: flex-end;
}
.logo {
   position: relative;
   width: 60px;
   height: 60px;
}
.map {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

/* Floater */
.floater { position:absolute; }
.floater.left { left:1em; }
.floater.right { right:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:5em; }

/* Circle Button */
.btn-circle {
   display: inline-block;
   background-color: var(--color-blue);
   width: 3rem;
   height: 3rem;
   line-height: 3rem;
   text-align: center;
   font-size: 2.4rem;
   border-radius: 2em;
   box-shadow: 5px 5px 2px 1px  rgba(0,0,255,0.15);
}

.floater a {
   color: white;

}

/* General Button */
.btn-general {
   width:  auto ;
   height: 44px;
   margin: auto;
   background-color: #1c6ae4;
   border-radius: 17px;
}

.btn-general input {
   color: white;
   opacity: 1;
   text-indent: 0;
   font-size: 18px;
}


/* Profile */
#page-user-profile .top-bar {
   width: 100%;
   padding: 30px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
#page-edit-profile .top-bar {
   width: 100%;
   padding: 30px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.user-profile-top {
   position: relative;
}


.back {
   width: 18px;
   height: 18px;
   z-index: 1;
}

.edit {
   width: 22px;
   height: 6px;
   z-index: 1;
}

.placeholder {
   width: 36px;
   height: 36px;  
}

.user-profile {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.avatar {
   width: 98px;
   height: 98px;  
   border-radius: 50%;
}

.links {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.link {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.icon {
   height: 130px;
   width: 100px;   
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.list-icon {
   background-image: url(../images/list_icon.png);
}

.place-icon {
   background-image: url(../images/place_icon.png);
}

.favorite-icon {
   background-image: url(../images/favorite_icon.png);
}

.separator {
   padding: 20px 0;
}

.new {
   position: relative;
   width: 100%;
   height: 80px;
   border-radius: 15px;
   padding: 10px 30px;
   margin-top: 2em;
   background: var(--color-blue);
   color: white;
}

/* List */ 
#page-list .top-bar {
   width: 100%;
   padding: 30px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.list {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}

.mini-icon {
   width: 8px;
   height: 8px;
}

.small-icon {
   width: 16px;
   height: 16px;
}

.icon-and-name {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.icon-and-name a {
   margin-left: 3%;
}

.icon-and-name label {
   margin-left: 3%;
}

select {
   position: relative;
   width: 100%;
   padding: 10px;
}

.item {
   flex: 50%;
   max-width: 50%;
   height: 180px;
   width: 154px;
   padding: 10px;
}
.item-bg {
   height: 100%;
   width: 100%;   
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   border-radius: 20px 20px 0 0;

   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

#list-search-form {
   position: relative;
   padding-bottom: 10px;
}

#list-search-form input {
   position: relative;
   width: 100%;
   padding: 10px;
   border:  0;
   border-radius: 10px;
   border: 2px solid var(--color-blue);
   color: 1C6AE4;
}

.search-bar {
   box-shadow: none;
   z-index: 2;
   padding: 0.2em 0.5em;
}

.filter-bar {
   position: relative;
   display: flex;
   padding: 0 1em;
   width: 100%;
   overflow-x: auto;
   white-space: nowrap;
   overflow-wrap: nowrap;
   gap: 1em;
   z-index: 1;
   padding-bottom: 10px;
}
.filter-bar a {
   padding: 0;
}

.image-picker.replace {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}
.image-picker.replace input {
   display: none;
}


/* Places */
#page-place .top-bar {
   position: relative;
   z-index: 1;
   width: 100%;
   height: 100px;
   padding: 30px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

/* Favorites */
#page-favorite .top-bar {
   width: 100%;
   padding: 30px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.inspiration-detail {
   height: 40%;
   width: 100%;
   padding: 0 5%;
   background-color: var(--color-blue);
   color: white;

   display: flex;
   flex-direction: column;
   justify-content: center;
}

.inspiration-detail span {
   display: flex;  
   flex-direction: row;
}

.inspiration-detail span label {
   margin-right: 5px;
}

/* Detail */
#page-inspiration-detail .bg {
   width: 100%;
   min-height: 316px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

#page-inspiration-detail .top-bar {
   position: relative;
   padding: 40px 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 86%;
   margin: auto;
   z-index: 1;
}


.inspiration-detail-top {
   position: relative;
   padding-bottom: 5%;
}

.inspiration-detail-bottom {
   position: relative;
   flex: 1 1 auto;
   width: 100%;
}

.js-add-favorite.favorite div {
   background-image: url(../images/favorite.png);
}

.js-add-favorite div {
   height: 36px;
   width: 36px;   
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;

   background-image: url(../images/no-favorite.png);
}

.inspiaration-content-wrapper {
   position: relative;
   z-index: 3;
}

.inspiaration-content {
   display: flex;
   flex-direction: column;
}

.inspiaration-content a {
   padding: 20px 0;
}

.inspiration-popup-image img {
   max-width: 50px;
}